.popup__ingredients {
    width: 280px;
    height: 1000px;
    padding: 28px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: 767px) {
        width: 568px;
    }
}



// =================BUY====================
.header__btn {
    @media screen and (max-width: 767px) {
            display: none;
        }

}

.menu__btn-buy {
    @media screen and (min-width: 768px) {
        display: none;
    }
}

