.popup-about {
    width: 300px;
    height: 450px;
    padding: 28px;

    overflow: auto;
    border: 3px solid orange;
    border-radius: 10px;
   
    transform: translate(-50%, -50%) scale(1);

    @media screen and (min-width: 768px) {
        width: 600px;
        height: 500px;
        padding: 32px 50px;        
       
    }
}

.made__title {
    margin-bottom: 0;
}

.video__item {
    position: relative;
   
    width: 100%;
    padding-top: 56.25%;

    background-color: #00808066;
}
.icecream__vid {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    
    height: 100%;
     width: 100%;
}

.popup__made-paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #131313;    
}