<div class="popup popup-5" >
    <div class="popup-container popup__ingredients">

      <a href="#0" class="popup-close img-replace">Close</a>
<!-- =================slider============================================ -->
<!-- =================slider============================================ -->

      <div class="gallery__slider">
        <div class="gallery__slider-line">

<!-- =================slide1============================================ -->
          <div class="slide">
            <h3 class="modal__title">Chololate icecream</h3>

            <div class="ice__wrap">
              <img
                class="ice__img"
                srcset="
                  ./images/ingredients/ice-b.png    1x,
                  ./images/ingredients/ice-b@2x.png 2x
                "
                src="./images/ingredients/ice-b.png"
                alt="Chololate"
                width="132"
                height="132"
              />
            </div>

            <ul class="ingredients__list">
              <li class="ingredients__item">
                <p class="ingredients__item-name">320</p>
                <p class="ingredients__item-value">kcal</p>
              </li>
              <li class="ingredients__item">
                <p class="ingredients__item-name">4g</p>
                <p class="ingredients__item-value">Protein</p>
              </li>
              <li class="ingredients__item">
                <p class="ingredients__item-name">8,2g</p>
                <p class="ingredients__item-value">Fats</p>
              </li>
              <li class="ingredients__item">
                <p class="ingredients__item-name">40,4g</p>
                <p class="ingredients__item-value">Carbs</p>
              </li>
            </ul>

            <h4 class="card__title">Ingredients</h4>

            <ul class="card__parts">
              <li class="card__parts-item">
                <p class="card__parts-name">Milk</p>
                <p class="card__parts-value">100ml</p>
              </li>
              <li class="card__parts-item">
                <p class="card__parts-name">Belgian chocolate</p>
                <p class="card__parts-value">20g</p>
              </li>
              <li class="card__parts-item">
                <p class="card__parts-name">Cream</p>
                <p class="card__parts-value">150 ml</p>
              </li>
              <li class="card__parts-item">
                <p class="card__parts-name">Cocoa powder</p>
                <p class="card__parts-value">30g</p>
              </li>
              <li class="card__parts-item">
                <p class="card__parts-name">Sugar</p>
                <p class="card__parts-value">40g</p>
              </li>
              <li class="card__parts-item">
                <p class="card__parts-name">Vanilla sugar</p>
                <p class="card__parts-value">10g</p>
              </li>
            </ul>
          </div>

       
    <!-- =================slide2============================================ -->
    <div class="slide">
      <h3 class="modal__title">Ice coffee</h3>

      <div class="ice__wrap">
        <img
          class="ice__img"
          srcset="
            ./images/ingredients/ice-c.png    1x,
            ./images/ingredients/ice-c@2x.png 2x
          "
          src="./images/ingredients/ice-c.png"
          alt="Chololate"
          width="132"
          height="132"
        />
      </div>

      <ul class="ingredients__list">
        <li class="ingredients__item">
          <p class="ingredients__item-name">350</p>
          <p class="ingredients__item-value">kcal</p>
        </li>
        <li class="ingredients__item">
          <p class="ingredients__item-name">10g</p>
          <p class="ingredients__item-value">Protein</p>
        </li>
        <li class="ingredients__item">
          <p class="ingredients__item-name">5,2kg</p>
          <p class="ingredients__item-value">Fats</p>
        </li>
        <li class="ingredients__item">
          <p class="ingredients__item-name">30,8g</p>
          <p class="ingredients__item-value">Carbs</p>
        </li>
      </ul>

      <h4 class="card__title">Ingredients</h4>

      <ul class="card__parts">
        <li class="card__parts-item">
          <p class="card__parts-name">Milk</p>
          <p class="card__parts-value">100ml</p>
        </li>
        <li class="card__parts-item">
          <p class="card__parts-name">Belgian chocolate</p>
          <p class="card__parts-value">20g</p>
        </li>
        <li class="card__parts-item">
          <p class="card__parts-name">Cream</p>
          <p class="card__parts-value">150 ml</p>
        </li>
        <li class="card__parts-item">
          <p class="card__parts-name">Cocoa powder</p>
          <p class="card__parts-value">30g</p>
        </li>
        <li class="card__parts-item">
          <p class="card__parts-name">Sugar</p>
          <p class="card__parts-value">40g</p>
        </li>
        <li class="card__parts-item">
          <p class="card__parts-name">Vanilla sugar</p>
          <p class="card__parts-value">10g</p>
        </li>
      </ul>
    </div>



    <!-- =================slide3============================================ -->
    <div class="slide">
      <h3 class="modal__title">Milkshakes</h3>

      <div class="ice__wrap">
        <img
          class="ice__img"
          srcset="
            ./images/ingredients/ice-d.png    1x,
            ./images/ingredients/ice-d@2x.png 2x
          "
          src="./images/ingredients/ice-d.png"
          alt="Chololate"
          width="132"
          height="132"
        />
      </div>

      <ul class="ingredients__list">
        <li class="ingredients__item">
          <p class="ingredients__item-name">210</p>
          <p class="ingredients__item-value">kcal</p>
        </li>
        <li class="ingredients__item">
          <p class="ingredients__item-name">45g</p>
          <p class="ingredients__item-value">Protein</p>
        </li>
        <li class="ingredients__item">
          <p class="ingredients__item-name">5,2g</p>
          <p class="ingredients__item-value">Fats</p>
        </li>
        <li class="ingredients__item">
          <p class="ingredients__item-name">60,4g</p>
          <p class="ingredients__item-value">Carbs</p>
        </li>
      </ul>

      <h4 class="card__title">Ingredients</h4>

      <ul class="card__parts">
        <li class="card__parts-item">
          <p class="card__parts-name">Milk</p>
          <p class="card__parts-value">100ml</p>
        </li>
        <li class="card__parts-item">
          <p class="card__parts-name">Belgian chocolate</p>
          <p class="card__parts-value">20g</p>
        </li>
        <li class="card__parts-item">
          <p class="card__parts-name">Cream</p>
          <p class="card__parts-value">150 ml</p>
        </li>
        <li class="card__parts-item">
          <p class="card__parts-name">Cocoa powder</p>
          <p class="card__parts-value">30g</p>
        </li>
        <li class="card__parts-item">
          <p class="card__parts-name">Sugar</p>
          <p class="card__parts-value">40g</p>
        </li>
        <li class="card__parts-item">
          <p class="card__parts-name">Vanilla sugar</p>
          <p class="card__parts-value">10g</p>
        </li>
      </ul>
    </div>


    <!-- =================slider============================================ -->
  </div>
</div>
    
    <div class="slider-btn-wrap">
        <button class="slider-prev">⮜</button>
        <button class="slider-next">⮞</button>
    </div>



      
<!-- =================slider============================================ -->

      <form class="form__buy">
        <input
        class="form__input buy-now__form-input"
        type="text"
        name="username"
        placeholder="Name"
        required
      />
      <input
        class="form__input buy-now__form-input"
        type="tel"
        name="phone"
        placeholder="Phone"
        required
        pattern="^\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})$"
      />
      <!-- The pattern see in https://stackoverflow.com/questions/58248441/regex-template-for-ukrainian-phone-numbers -->
      <textarea
        class="form__input form__input-textarea "
        name="comment"
        placeholder="Comment"
      ></textarea>

    </form>

      <button class="popup-buy-btn btn__submit" type="button">Submit</button>

    </div> 
  </div> 