<div class="popup popup-2" >
    <div class="popup-container popup-about">

      <a href="#0" class="popup-close img-replace">Close</a>
      <h1 class="popup__title made__title">How it’s made?</h1>

      <div class="video__item">
        <iframe class="icecream__vid" src="https://www.youtube.com/embed/kQ9-9u7WWE4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div> 


      <p class="popup__made-paragraph">Want to get rid of a brain freeze fast?  Did you know how Ice Cream was invented? No matter what your favorite flavor is, we've got some deliciously delightful facts about everyone's favorite frozen treat! Grab the sprinkles and get ready for 5 facts about Ice Cream!</p>


    </div> 
  </div> 