<header class="header">
  <div class="header__container container">
    <a class="header__logo" href="#">
      <svg class="header__logo-svg" width="60" height="65">
        <use href="./images/symbol-defs.svg#ice-logo"></use>
      </svg>
    </a>

    <nav class="header__list">
      <a class="header__link" href="#">Home</a>

      <a class="header__link" href="#">How it’s made?</a>

      <a class="header__link" href="#">Our products</a>

      <a class="header__link" href="#">Contacts</a>
    </nav>

    <div class="header__button-wrapper">
      <a class="mobile__menu js-open-menu" href="#">
        <svg class="mobile__menu-svg" width="32" height="32">
          <use href="./images/symbol-defs.svg#icon-eva_menu-fill-32x32"></use>
        </svg>
      </a>
      <button class="header__btn btn__buy" type="button">Buy now</button>
    </div>
  </div>
</header>
