<section class="hero">
  <div class="hero__container container">

    <div class="hero__wrapper">

      <h1 class="hero__title">
        ice cream made with<span class="hero__title-emphasis"> passion</span>
      </h1>

      <ul class="hero__count-list">
        <li class="hero__count-item">
          <p class="count__number">16</p>
          <p class="count__text">cafes</p>
        </li>

        <li class="hero__count-item">
          <p class="count__number">23</p>
          <p class="count__text">food trucks</p>
        </li>

      </ul>
    </div>

    <div class="hero__button-wrapper">
        <button class="btn__transparent">Products</button>
        <button class="btn__off">How it’s made?</button>
    </div>


  </div>
</section>
