<section class="hero">
  <div class="hero__container container">

    <div class="hero__wrapper">

      <h1 class="hero__title">
        ice cream made with<span class="hero__title-emphasis"> passion</span>
      </h1>

      <ul class="hero__count-list">
        <li class="hero__count-item">
          <p class="count__number">16</p>
          <p class="count__text">cafes</p>
        </li>

        <li class="hero__count-item">
          <p class="count__number">23</p>
          <p class="count__text">food trucks</p>
        </li>

      </ul>
    </div>

    <div class="hero__button-wrapper">
        <button class="btn__test">Products</button>
        <button class="btn__off">How it’s made?</button>
    </div>

    <div class="hero__image-wrapper">
        
            <picture class="hero-img hero-img__plate">
                <source
                  srcset="./images/plate_D225x225.png 1x, ./images/plate_D450x450@2x.png 2x"
                  media="(min-width: 1200px)"
                  width="225"
                  height="225"
                />
        
                <source
                  srcset="
                    ./images/plate_T_152x152.png    1x,
                    ./images/plate_T_152x152.png 2x
                  "
                  media="(min-width: 768px)"
                />
        
                <img
                  src="./images/plate_T_152x152.png"
                  alt="plate with icecream"
                  width="152"
                  height="152"
                />
              </picture>

              <div class="hero__description">
                <p class="hero__paragraph">Ice cream is a sweetened frozen food typically eaten as a snack or dessert. It may be made from milk or cream and is flavoured with a sweetener, ...</p>
                <a class="hero__paragraph-link" href="#">
                    <svg class="hero__paragraph-svg" width="40" height="16">
                      <use href="./images/symbol-defs.svg#icon-Arrow"></use>
                    </svg>
                </a>
              </div>
    </div>
<!-- Tim -->
    <img class="hero_icecream-image" srcset="
    ./images/ice_creamM177x217.png 177w,
    ./images/ice-cream_T_268x329.png 268w,
    ./images/ice_creamD456x560.png 456w,
    ./images/ice_creamM354x434@2x.png 354w,
    ./images/ice-cream_T_536x658@2x.png 536w,
    ./images/ice_creamD912x1120@2x.png 912w
    "
    sizes="(min-width: 1200px) 456px, (min-width: 768px) 268px, (max-width: 768px) 177px, 100vw" 
    src="./images/ice_creamM177x217.png" alt="icecream">


  </div>
</section>
