<div class="mobile-menu js-menu-container" id="mobile-menu">
    <div class="menu">
        <a class="header__logo" href="#">
            <svg class="header__logo-svg" width="60" height="65">
              <use href="./images/symbol-defs.svg#ice-logo"></use>
            </svg>
          </a>
      

      <button class="mobile-menu-close js-close-menu">
        <svg width="32" height="32">
          <use href="./images/symbol-defs.svg#icon-bird-btn"></use>
        </svg>
      </button>
    </div>

    <nav class="mobile-menu-site-nav">
      <ul class="mobile-menu-site-nav-list">
        <li class="mobile-menu-item">
          <a href="#header" class="mobile-menu-link js-close-menu">Home</a>
        </li>
        <li class="mobile-menu-item">
          <a href="#about" class="mobile-menu-link js-close-menu"
            >How it’s made?</a
          >
        </li>
        <li class="mobile-menu-item">
          <a href="#products" class="mobile-menu-link js-close-menu"
            >Our products</a
          >
        </li>
        <li class="mobile-menu-item">
          <a href="#contacts" class="mobile-menu-link js-close-menu"
            >Contact</a
          >
        </li>
      </ul>
    </nav>
    <button class="menu__btn-buy btn__buy" type="button">Buy now</button>
  </div>
</div>