<div class="main-content">
  
    <div class="container-modal">
       <div class="title">
          Lorem Ipsum 01
      </div>
      <div class="modal" id="win-0">
          
         <div class="modal-container">
           <div class="modal-header">
             <div class="modal-title">Modal Title 01</div>
             <span class="close">X</span>
            </div>
            <div class="modal-content">
                Modal Content 01
            </div>
         </div>
        
        </div>
    </div>
    
    <div class="container-modal">
       <div class="title">
          Lorem Ipsum 02
      </div>
      <div class="modal" id="win-1">
          
         <div class="modal-container">
           <div class="modal-header">
             <div class="modal-title">Modal Title 02</div>
             <span class="close"></span>
            </div>
            <div class="modal-content">
                Modal Content 02
            </div>
         </div>
        
        </div>
    </div>
    
    <div class="container-modal">
       <div class="title">
          Lorem Ipsum 03
      </div>
      <div class="modal" id="win-2">
          
         <div class="modal-container">
           <div class="modal-header">
             <div class="modal-title">Modal Title 03</div>
             <span class="close"></span>
            </div>
            <div class="modal-content">
                Modal Content 03
            </div>
         </div>
        
        </div>
    </div>
    
    <div class="container-modal">
       <div class="title">
          Lorem Ipsum 04
      </div>
      <div class="modal" id="win-3">
          
         <div class="modal-container">
           <div class="modal-header">
             <div class="modal-title">Modal Title 04</div>
             <span class="close"></span>
            </div>
            <div class="modal-content">
                Modal Content 04
            </div>
         </div>
        
        </div>
    </div>
    
  </div>