<section class="products">
    <div class="products__container container">

        <p class="products__uppertitle">100% natural</p>
        <h2 class="products__title">products</h2>

        <ul class="products__list">
            <li class="products__list-item item__color-green">
                <div>
                    <h3 class="products__list-title">ice cream</h3>
                    <p class="products__list-text">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
                    </p>
                </div>
                <button class="products__list-btn">
                    <svg class="products__list-svg" width="40" height="16">
                      <use href="./images/symbol-defs.svg#icon-Arrow"></use>
                    </svg>
                </button>

            </li>
           <!-- ==============================================================  -->
            <li class="products__list-item item__color-orange">
                <div>
                    <h3 class="products__list-title">ice coffee</h3>
                    <p class="products__list-text">Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor enhancers
                    </p>
                </div>
                <button class="products__list-btn">
                    <svg class="products__list-svg" width="40" height="16">
                      <use href="./images/symbol-defs.svg#icon-Arrow"></use>
                    </svg>
                </button>

            </li>
          <!-- ============================================================================= -->
            <li class="products__list-item item__color-pink">
                <div>
                    <h3 class="products__list-title">milkshakes</h3>
                    <p class="products__list-text">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your choice
                    </p>
                </div>
                <button class="products__list-btn">
                    <svg class="products__list-svg" width="40" height="16">
                      <use href="./images/symbol-defs.svg#icon-Arrow"></use>
                    </svg>
                </button>

            </li>
        </ul>

    </div>
</section>