<section class="reviews">
    <div class="reviews__container container">

        <div class="swiper-2">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper wr-2">
              <!-- Slides -->
              <div class="swiper-slide">

                <img class="rew__photo" src="./images/rev/person-1.png" alt="#">
                <p class="rew__paragraph">I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition, you have beautiful serving, cozy atmosphere and polite staff.
                </p>
                <p class="rew__name">Emily, Los Angeles</p>

              </div>
              <div class="swiper-slide">

                <img class="rew__photo" src="./images/rev/person-2.png" alt="#">
                <p class="rew__paragraph">Every day we come to you with friends after classes in college. We love your ice cream and casual atmosphere!
                </p>
                <p class="rew__name">Bryan, New-York</p>

              </div>
              <div class="swiper-slide">

                <img class="rew__photo" src="./images/rev/person-3.png" alt="#">
                <p class="rew__paragraph">Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the excellent service - always served politely and quickly!
                </p>
                <p class="rew__name">Diana, Chicago</p>

              </div>
              ...
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination pag-2"></div>
          
            <!-- If we need navigation buttons -->
            <div class="swiper-2-button-prev"></div>
            <div class="swiper-2-button-next"></div>
          
            <!-- If we need scrollbar -->
            <!-- <div class="swiper-scrollbar"></div> -->
          </div>  

    </div>
    
</section>