.gallery {
    background-image: linear-gradient(
        to top,
        transparent 80%,
        var(--backgroundColor) 80%
      );
    
      @media screen and (min-width: 768px) {
        background-image: linear-gradient(
          to top,
          transparent 60%,
          var(--backgroundColor) 60%
        );
      }
    
      @media screen and (min-width: 1200px) {
        background-image: linear-gradient(
          to top,
          transparent 80%,
          var(--backgroundColor) 80%
        );
      }

      padding-bottom: 80px;
}

.gallery__container {
  display: flex;
  justify-content: center;
}

.swiper {
  width: 100%;
  height: auto;
    border-radius: 30px;
 
    overflow: hidden;
   
    @media screen and (min-width: 1200px)  {
      width: 80%;
    }
}


.swiper-wrapper {
   transition: all  ease 1s;
   position: relative;
 
}

// .pag-1 {
//  position: absolute;
//   bottom: -40px;
// }
.next-1,
.prev-1 {

  color:#35a785;

}

.ice__pic {

  padding-bottom: 40px;
}

// ===========================================
