.hero {
    background-color: var(--backgroundColor);
}

.hero__container {
    // max-width: 480px;
    // height: 454px;
    // margin: 0px auto;
    // padding: 50px 20px 0px;
    position: relative;
    background-image: url(../images/dots_M320x50.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: url(../images/dots_M640x100@2x.png);
    }

    @media screen and (min-width: 768px) {
        background-image: url(../images/dots_T768x69.png);
        // max-width: 768px;
        // padding: 14px 32px 0px;
        // display: flex;
        // justify-content: space-between;
        // height: 349px;

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url(../images/dots_T1536x137@2x.png);
        }

    }

    @media screen and (min-width: 1200px) {
        max-width: 1200px;
        height: 664px;
        padding: 45px 16px 0px;
        background-image: url(../images/dots_D1200x384.png);

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url(../images/dots_D2400x768@2x.png);
        }

    }
}

.hero__title {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: calc(33 / 26);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    color: #FCFCFC;
    width: 250px;

 
      @media screen and (min-width: 1200px) {
        font-weight: 400;
        font-size: 38px;
        line-height: calc(48 / 38);
        letter-spacing: 0.04em;
        width: 400px;        
      }
}

.hero__title-emphasis {
    font-weight: 400;
    font-size: 34px;
    line-height: calc(34 / 33); 

    @media screen and (min-width: 1200px) {
        font-weight: 400;
        font-size: 38px;
        line-height: calc(48 / 38);
        letter-spacing: 0.04em;        
      }

}

.count__number {
    font-weight: 900;
    font-size: 28px;
    line-height: 34px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase; 
        
    color: var(--textColor);

    @media screen and(min-width: 1200px) {
        font-weight: 900;
        font-size: 46px;
        line-height: 56px;       
    }
}

.count__text {
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    text-align: right;
    
    color: var(--textColor);

    @media screen and(min-width: 1200px) {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
}
.hero__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}
.hero__count-list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and(max-width: 767px) {
        display: none;
    }
}

.hero__button-wrapper {
    display: flex;
    gap: 20px;


    @media screen and(max-width: 767px) {
        padding-bottom: 236px;
    }
    
}

.hero__image-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 32px;
    padding: 20px 0;

    @media screen and(min-width: 1200px) {
        padding: 70px 0 65px 0; 
        gap: 16px;
    }
    @media screen and(max-width: 767px) {
        display: none;
    }
}

.hero__paragraph {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(17 / 12);
    color: #FCFCFC;

    width: 135px;
    margin-bottom: 12px;
   padding-top: 40px;

    @media screen and(min-width: 1200px) {
        font-size: 14px;
        line-height: calc(20 / 14);
        color: #FCFCFC;     
        
        width: 200px;   
        padding-top: 55px;
    }
}

.hero__paragraph-link {
          
    &:hover,
    &:focus {
       outline: none;

        .hero__paragraph-svg {
            fill: var(--accentColor);
            scale: 1.2;
            transition: all var(--transitionDuration) var(--transitionTimingFunction);
          
        }
    }
}

.hero__paragraph-svg {
    transition: all var(--transitionDuration) var(--transitionTimingFunction);
          
    fill: var(--textColor);
}
// Tim
.hero_icecream-image {
    position: absolute;
    bottom: 0px;
    left: 25%;

    @media screen and (min-width: 768px) {
        left: 408px;
    }

    @media screen and (min-width: 1200px) {
        left: 652px;
    }

    animation-name: imageMotion;
    animation-duration: 1.5s;
    animation-timing-function: var(--transitionTimingFunction);
    animation-delay: 0s;
}

@keyframes imageMotion {
    0% {
      transform: translateY(100%);
      opacity: 0%;
    }

    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}

@keyframes descrMotion {
    0% {
      transform: translateX(-100%);
      opacity: 0%;
    }
    80% {
      transform: translateX(0%);
      opacity: 100%;
    }
}